/* ini css */
main {
    margin-bottom: 200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {

    .logo-icon {
        margin-bottom: 10px
    }

    nav {
        flex-direction: column;
    }

    .nav-container {
        width: 100%;
        flex-direction: column;
    }

    .banner-img {
        border-radius: 10px;
    }

    .message-style {
        flex-direction: column;
    }

    .form {
        margin-bottom: 20px
    }
}

.logo-icon {
    background-size: cover;
    height: 80px;
    width: 80px;
    background-image: url(../assets/logo.jpg);
    border-radius: 50%;
}

.nav-container {
    display: flex;
}

.nav-top {
    border: 1px solid;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    border-color: antiquewhite;
    padding: 5px;
    color: burlywood;
    text-decoration: none;
}

.nav-item {
    border: 1px solid;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.banner-img {
    height: 400px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
.img-1{
    background-image: url(../assets/img-1.jpg);
}
.img-2 {
    background-image: url(../assets/img-2.jpg);
}
.img-3 {
    background-image: url(../assets/img-3.jpg);
}

.profile-item {
    height: 150px;
    text-align: -webkit-center;
    margin-top: 40px;
}
.profile-img {
    height: 50px;
    background-image: url(../assets/acv.png);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    width: 50px;
}
.fdt-img {
    background-image: url(../assets/fdt.png);
    width: 80px
}
.sch-img {
    background-image: url(../assets/sch.png);
}
.staff-img {
    background-image: url(../assets/staff.png);
}
.profile-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 30px;
    border-style: ridge;
}

.message-style {
    display: flex;
    justify-content: space-around;
}

.message-container {
    height: 150px;
    border: 1px solid;
    width: 350px;
    border-radius: 5px;
}
.out-msg {
    margin-left: 10px;
}